* {
  list-style: none; }

body {
  background: white; }

.head img {
  width: 100%; }

.head1 {
  background: black;
  height: 30px;
  line-height: 30px;
  color: white; }
  .head1 div {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px; }
    .head1 div ul {
      float: left; }
      .head1 div ul li {
        float: left;
        text-align: center;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px lightgray solid; }
    .head1 div ul:nth-of-type(2) {
      float: right;
      margin-left: 20px; }

.head4 {
  margin-top: 450px; }

.content {
  width: 1200px;
  margin: 0 auto;
  background: white; }

.head2 {
  margin-top: 20px; }
  .head2 img {
    float: left;
    margin-right: 30px; }
  .head2 ul {
    float: left;
    margin-left: 70px; }
    .head2 ul li {
      float: left;
      margin-right: 20px;
      font-size: 18px;
      line-height: 50px; }
  .head2 input {
    float: right;
    line-height: 30px;
    margin-top: 10px;
    text-align: center; }
  .head2 .ss {
    float: right;
    margin-top: 15px; }

.head2:after {
  display: block;
  clear: both;
  content: ""; }

.head3 {
  position: relative; }
  .head3 > ul {
    box-sizing: border-box;
    width: 250px;
    background: black;
    background: rgba(0, 0, 0, 0.4);
    height: 450px;
    color: white;
    position: absolute;
    left: 0;
    z-index: 9;
    line-height: 49px;
    font-size: 18px; }
    .head3 > ul li {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      padding: 0 20px; }
      .head3 > ul li .toggleul {
        position: absolute;
        left: 250px;
        top: 0;
        width: 300px;
        display: none;
        background: white;
        color: black;
        height: 451px; }
        .head3 > ul li .toggleul img {
          width: 20px;
          height: 30px; }
        .head3 > ul li .toggleul div ul {
          width: 500%; }
          .head3 > ul li .toggleul div ul li {
            float: left; }
        .head3 > ul li .toggleul li:hover {
          color: orangered;
          background: transparent; }
    .head3 > ul li:hover {
      background: orangered; }
  .head3 div {
    width: 1200px;
    position: absolute;
    right: 0; }
    .head3 div img {
      width: 100%;
      float: left; }
    .head3 div span {
      position: absolute;
      left: 270px;
      margin-top: 200px;
      color: white;
      font-size: 50px; }
    .head3 div span:nth-of-type(2) {
      margin-left: 870px; }
    .head3 div .headul {
      position: absolute;
      top: 420px;
      left: 1000px;
      width: 200px;
      background: transparent; }
      .head3 div .headul li {
        margin-left: 10px;
        float: left;
        height: 7px;
        width: 7px;
        border: solid 2px lightgray;
        border-radius: 50%;
        background: black; }

.head3:after {
  display: block;
  clear: both;
  content: ""; }

.li1 {
  width: 280px;
  float: left;
  margin-left: 26px;
  margin-top: 20px; }
  .li1 img {
    width: 100%; }

.li2 {
  margin-left: 0px;
  background: #5F5750;
  color: lightgray; }
  .li2 ul li {
    height: 75px;
    text-align: center;
    float: left;
    width: 90px; }
    .li2 ul li img {
      width: 50px; }

.head4:after {
  display: block;
  clear: both;
  content: ""; }

.h11 {
  font-size: 25px;
  line-height: 80px; }
  .h11 span {
    border: solid 1px lightgray;
    border-radius: 10%;
    float: right;
    line-height: 40px;
    width: 50px;
    margin-top: 15px;
    text-align: center; }

.ul1 li {
  width: 230px;
  float: left;
  text-align: center;
  background: #FAFAFA;
  margin-left: 12px;
  padding-bottom: 20px; }
  .ul1 li p:nth-of-type(1) {
    font-size: 18px;
    margin-top: 20px; }
  .ul1 li p:nth-of-type(2) {
    font-size: 12px;
    color: lightgray;
    margin-top: 20px; }
  .ul1 li p:nth-of-type(3) {
    font-size: 14px;
    margin-top: 20px;
    color: orangered; }
.ul1 .li3 {
  margin-left: 0px; }
.ul1 li:nth-of-type(1) {
  border-top: solid 1px #FFAC13; }
.ul1 li:nth-of-type(2) {
  border-top: solid 1px #83C44E; }
.ul1 li:nth-of-type(3) {
  border-top: solid 1px #2196F3; }
.ul1 li:nth-of-type(4) {
  border-top: solid 1px #E53935; }
.ul1 li:nth-of-type(5) {
  border-top: solid 1px #00C0A5; }

.main2 {
  background: #F5F5F5; }

.main3 {
  width: 1200px;
  margin: 0 auto; }

.p1 {
  font-size: 22px;
  line-height: 50px; }
  .p1 ul {
    float: right;
    font-size: 16px; }
    .p1 ul li {
      float: left;
      margin-left: 30px; }
      .p1 ul li:hover {
        color: orangered; }

.d1 .img {
  width: 240px;
  height: 350px;
  float: left; }
.d1 ul {
  float: right; }
  .d1 ul li {
    float: left;
    width: 230px;
    margin-left: 15px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-bottom: 17px;
    background: white;
    position: relative; }
    .d1 ul li img {
      width: 200px; }
    .d1 ul li p:nth-of-type(1) {
      font-size: 20px;
      margin-top: 20px; }
    .d1 ul li p:nth-of-type(2) {
      font-size: 10px;
      margin-top: 20px;
      color: lightgray; }
    .d1 ul li p:nth-of-type(3) {
      font-size: 16px;
      margin-top: 20px;
      color: orangered; }
    .d1 ul li .div1 {
      width: 100%;
      height: 100px;
      background: orangered;
      position: absolute;
      bottom: 0px;
      text-align: center;
      display: none;
      box-sizing: border-box;
      padding: 0 20px; }
      .d1 ul li .div1 p:nth-of-type(1) {
        color: white;
        font-size: 14px;
        line-height: 20px;
        text-align: left; }
      .d1 ul li .div1 p:nth-of-type(2) {
        color: lightgrey;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0px;
        text-align: left; }

.li4 ul li {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 105px; }
  .li4 ul li div {
    float: left; }
    .li4 ul li div p:nth-of-type(1) {
      font-size: 16px; }
    .li4 ul li div p:nth-of-type(2) {
      font-size: 16px;
      color: orangered; }
  .li4 ul li img {
    float: right;
    width: 100px; }
.li4 ul li:nth-of-type(2) {
  border-top: 10px solid #F5F5F5; }

.d1:after {
  display: block;
  clear: both;
  content: ""; }

.p1:after {
  display: block;
  clear: both;
  content: ""; }

.d2 ul, .d3 ul, .d4 ul {
  text-align: center; }
  .d2 ul li, .d3 ul li, .d4 ul li {
    background: white;
    position: relative;
    float: left;
    margin-left: 12px;
    width: 230px;
    box-sizing: border-box;
    padding-top: 20px;
    margin-bottom: 10px;
    height: 298px; }
    .d2 ul li p:nth-of-type(1), .d3 ul li p:nth-of-type(1), .d4 ul li p:nth-of-type(1) {
      font-size: 20px;
      margin-top: 20px; }
    .d2 ul li p:nth-of-type(2), .d3 ul li p:nth-of-type(2), .d4 ul li p:nth-of-type(2) {
      font-size: 12px;
      color: lightgray;
      margin-top: 20px; }
    .d2 ul li p:nth-of-type(3), .d3 ul li p:nth-of-type(3), .d4 ul li p:nth-of-type(3) {
      font-size: 16px;
      color: orangered;
      margin-top: 20px;
      margin-bottom: 30px; }
    .d2 ul li .div1, .d3 ul li .div1, .d4 ul li .div1 {
      width: 100%;
      height: 100px;
      background: orangered;
      position: absolute;
      bottom: 0px;
      text-align: center;
      display: none;
      box-sizing: border-box;
      padding: 0 20px; }
      .d2 ul li .div1 p:nth-of-type(1), .d3 ul li .div1 p:nth-of-type(1), .d4 ul li .div1 p:nth-of-type(1) {
        color: white;
        font-size: 14px;
        line-height: 20px;
        text-align: left; }
      .d2 ul li .div1 p:nth-of-type(2), .d3 ul li .div1 p:nth-of-type(2), .d4 ul li .div1 p:nth-of-type(2) {
        color: lightgrey;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0px;
        text-align: left; }
  .d2 ul li:nth-of-type(1), .d3 ul li:nth-of-type(1), .d4 ul li:nth-of-type(1) {
    padding-top: 0px;
    margin-left: 0px; }
    .d2 ul li:nth-of-type(1) img, .d3 ul li:nth-of-type(1) img, .d4 ul li:nth-of-type(1) img {
      width: 100%; }

.d2:after, .d3:after, .d4:after {
  display: block;
  clear: both;
  content: ""; }

.d3 ul li p:nth-of-type(2) {
  color: orangered; }
.d3 ul li p:nth-of-type(3) {
  color: lightgray; }

.d4 ul li p:nth-of-type(2) {
  color: orangered; }
  .d4 ul li p:nth-of-type(2) s {
    margin-left: 10px;
    color: lightgray; }
.d4 ul li p:nth-of-type(3) {
  color: lightgray; }

.d5 ul li {
  float: left;
  width: 230px;
  text-align: center;
  padding-bottom: 30px;
  margin-left: 10px;
  background: white; }
  .d5 ul li p:nth-of-type(1) {
    font-size: 20px;
    margin-top: 20px; }
  .d5 ul li p:nth-of-type(2) {
    font-size: 16px;
    margin-top: 20px;
    color: orangered; }
  .d5 ul li p:nth-of-type(3) {
    font-size: 16px;
    margin-top: 20px;
    color: lightgray; }
.d5 ul li:nth-of-type(1) {
  margin-left: 0px; }

.d3:after {
  display: block;
  clear: both;
  content: ""; }

.d4:after {
  display: block;
  clear: both;
  content: ""; }

.d5:after {
  display: block;
  clear: both;
  content: ""; }

.d6 {
  margin-bottom: 30px; }
  .d6 ul li {
    width: 290px;
    float: left;
    text-align: left;
    margin-left: 12px; }
    .d6 ul li p:nth-of-type(1) {
      line-height: 30px;
      font-size: 16px; }
    .d6 ul li p:nth-of-type(2) {
      line-height: 30px;
      font-size: 12px;
      margin-top: 20px;
      color: lightgray; }
    .d6 ul li p:nth-of-type(3) {
      line-height: 30px;
      font-size: 16px; }
      .d6 ul li p:nth-of-type(3) span {
        margin-left: 20px;
        color: orangered; }
    .d6 ul li img {
      width: 100%; }
  .d6 ul li:nth-of-type(1) {
    margin-left: 0px; }

.d6:after {
  display: block;
  clear: both;
  content: ""; }

.d7 ul li {
  background: white;
  width: 290px;
  text-align: center;
  float: left;
  margin-left: 12px; }
  .d7 ul li p:nth-of-type(1) {
    color: orangered;
    font-size: 16px;
    line-height: 60px; }
  .d7 ul li p:nth-of-type(2) {
    font-size: 18px;
    margin-top: 20px; }
  .d7 ul li p:nth-of-type(3) {
    color: lightgray;
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px; }
  .d7 ul li p:nth-of-type(4) {
    line-height: 40px;
    font-size: 16px; }
  .d7 ul li ul {
    margin-left: 40%;
    margin-bottom: 30px;
    margin-top: 10px; }
    .d7 ul li ul li {
      float: left;
      height: 5px;
      width: 5px;
      background: gray;
      margin-left: 10px;
      border-radius: 50%; }
    .d7 ul li ul li:nth-of-type(1) {
      background: transparent;
      border: solid orangered 2px;
      margin-top: -2px; }
.d7 ul li:nth-of-type(1) {
  margin-left: 0px; }

.d7:after {
  display: block;
  clear: both;
  content: ""; }

.d8 ul li {
  background: white;
  text-align: center;
  width: 290px;
  float: left;
  margin-left: 12px;
  padding-bottom: 20px; }
  .d8 ul li p:nth-of-type(1) {
    margin-top: 20px;
    font-size: 18px; }
  .d8 ul li p:nth-of-type(2) {
    margin-top: 20px;
    font-size: 16px;
    color: lightgray; }
.d8 ul li:nth-of-type(1) {
  margin-left: 0; }

.d8:after {
  display: block;
  clear: both;
  content: ""; }

.main4 {
  width: 1200px;
  margin: 0 auto; }

.ul2 li {
  text-align: center;
  width: 238px;
  float: left;
  font-size: 16px;
  line-height: 20px;
  line-height: 50px;
  border-left: solid 1px lightgray; }

.main2 {
  padding-bottom: 30px; }

.ul3 {
  margin-top: 30px;
  width: 150px;
  float: left;
  line-height: 30px;
  font-size: 12px;
  text-align: center; }
  .ul3 li:nth-of-type(1) {
    font-size: 18px;
    line-height: 40px; }

.xiaomi {
  float: right;
  text-align: center;
  margin-right: 30px;
  margin-top: 40px; }
  .xiaomi p:nth-of-type(1) {
    font-size: 20px;
    color: orangered; }
  .xiaomi p:nth-of-type(2) {
    font-size: 14px;
    color: lightgray;
    margin-top: 10px; }
  .xiaomi p:nth-of-type(3) {
    margin-top: 20px;
    font-size: 20px;
    color: orangered;
    border: solid 1px orangered;
    padding: 5px 10px; }

.xiaomi:after {
  display: block;
  clear: both;
  content: ""; }

.ul3:after {
  display: block;
  clear: both;
  content: ""; }

.ul2:after {
  display: block;
  clear: both;
  content: ""; }

.footer1 {
  width: 1200px;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px; }
  .footer1 img {
    height: 70px;
    width: 70px;
    float: left;
    margin-right: 20px; }
  .footer1 div {
    float: left; }
    .footer1 div p {
      line-height: 025px;
      font-size: 13px;
      color: gray; }
    .footer1 div p:nth-of-type(1) {
      color: black; }
  .footer1 div:nth-of-type(2) {
    float: right;
    margin-right: 10px; }
    .footer1 div:nth-of-type(2) p {
      color: orangered; }

/*# sourceMappingURL=2.css.map */
